.bgD {
    position: relative;
    z-index: 1;
}

.bgU {
    border-radius: 15px;
    background: rgba(28, 28, 34, 0.8);
    backdrop-filter: blur(5px);
    transition: all 0s ease-in-out;
}

.bgU:hover {
    transform: scale(1.02);
}

.bgL {
    background-color: transparent;
}

.bgL:hover {
    background: linear-gradient(45deg,rgba(55, 0, 255, 0.5), rgba(0, 110, 255, 0.5));
}